.room p {
	display: inline-block;
	padding: 10px;
	color: white;
	font-weight: bold;
	text-align: center;
}
.percents {
	position: fixed;
	top: 71px;
	left: 0;
	width: 100%;
	display:none;
}
.room {
	cursor: pointer;
	display: inline-block;
	position: absolute;
}
#wearables {
	height: 5.5%;
	width: 6.5%;
	bottom: 23%;
	right: 12%;
}
#vr {
	height: 5.5%;
	width: 7.5%;
	bottom: 23%;
	right: 18.5%;
}
div#wozniak {
	height: 5.5%;
	width: 8.5%;
	bottom: 23%;
	right: 26%;
}
div#asimov {
	height: 5.5%;
	width: 7%;
	bottom: 23%;
	right: 34%;
}
div#tesla {
	height: 9.5%;
	width: 8%;
	bottom: 10%;
	right: 33%;
}
div#turing {
	height: 10.5%;
	width: 14.5%;
	bottom: 10%;
	right: 18.5%;
}
div#hopper {
	height: 9.5%;
	width: 8%;
	bottom: 10%;
	right: 10.5%;
}
div#ios {
	height: 9.5%;
	width: 10%;
	bottom: 22%;
	right: 76%;
}
div#swartz {
	height: 8.5%;
	width: 6.5%;
	bottom: 22%;
	right: 86%;
}
div#lovelace {
height: 5%;
width: 6.5%;
bottom: 84.5%;
right: 48.5%;
}
div#torvalds {
height: 5.5%;
width: 6.5%;
bottom: 79%;
right: 48.5%;
}
div#web_dev {
height: 6.5%;
width: 8%;
bottom: 73%;
right: 47%;
}
div#hardware {
height: 6%;
width: 8%;
bottom: 62%;
right: 47%;
}
div#gates {
height: 4.5%;
width: 6%;
bottom: 80.5%;
right: 39%;
}
div#design {
height: 4%;
width: 6%;
bottom: 76.5%;
right: 39%;
}
div#ar {
height: 6%;
width: 8%;
bottom: 62%;
right: 39%;
}
div#android {
height: 5.5%;
width: 9%;
bottom: 47%;
right: 48%;
}
#map {
	position:relative;
	display:inline-block;
}
#init {
	width: 100%;
	background: #333;
}