body {
  font-family:Roboto;
  background-color: #F7F7F7;
  overflow-y:scroll;
  padding-bottom:20px;
}
.nav {
  background-color:white;
  padding: 15px;
  border-bottom: 1px solid rgba(232, 232, 232, 1);
  position: fixed;
  width: 100%;
  z-index: 100;
  top: 0;
  height:42px;
}
.nav h1 {
  margin:0;
  display:inline-block;
  width:25%;
}
#navright {
width: 70%;
text-align: right;
display:none;
}
.navlink {
  padding:10px;
  border-radius:3px;
  font-size:1.4em;
}
.navlink:hover, .navlink:focus {
  color: #fff;
  background: #08c;
  text-decoration: none;
}
#header, #header:hover {
  color:#333;
}
h3 {
  text-align: center;
}
.icon {
  height:30px;
  width:30px;
  padding-right:5px;
  float: left;
}
.userPic {
  border-radius: 50%;
position: absolute;
top: calc(50% - 27px);
/* padding: 0 5px; */
}
.activity p {
  /*display:inline;*/
}
.activity {
  width: 60%;
  border: 1px solid rgba(232, 232, 232, 1);
  font-size: 1.3em;
  background: white;
  border-radius: 3px;
  margin: 2px auto;
  display: table;
  position: relative;
}
.logo {
  display: table-cell;
  height: 100%;
  width: 31px;
  background-color: #34495e;
  position:relative;
}
.logo .icon {
  position: absolute;
  top: calc(50% - 15px);
}
.activity .text {
  padding: 16px;
  padding-left:0;
  width:100%;
}
.twit {
  background-color: #55acee;
}
.git {
  background-color: #333;
}
p.relTime {
 color: rgb(147, 147, 147);
display: inline-block;
margin: 0;
}
#more {
  width: 24px;
  border: 1px solid #333;
  border-radius: 50%;
  padding: 5px;
  margin: 0 auto;
  margin-top: 15px;
  cursor: pointer;
}
#viewmoreContent,#viewmoreText {
  display:none;
}
#viewmoreText {
  padding:15px 0;
  text-align:center;
  cursor:pointer;
}
.votes {
  display: table-cell;
height: 100%;
width: 31px;
float: right;
top: 0;
}
.votes img {
  position:absolute;
  cursor:pointer;
}
.votes img:first-child {
  top: 0px;
}
.votes img:last-child {
  bottom: 0px;
}
.votesCount {
  position: absolute;
  top: calc( 50% - 10px );
  text-align: center;
  width: 23px;
}
.content_wrap {
	padding-top:71px;	
}
#loggedin {
	margin:0;
	display:inline-block;
}
img#avatarLoggedIn {
border-radius: 3px;
margin: -9px 0 0 5px;
}
.extraCommits {
	display: inline-block;
font-size: .7em;
z-index: 5;
background: white;
display:none;
}
.extraCommits ul {
	margin: 0px;
list-style: none;
}
.extraCommits ul li {
	line-height: 20px;
border-left: 2px solid #08c;
padding-left: 5px;
margin: 3px 0px;
}
.commitLink {
	cursor:pointer;
}
.postText {
width: 93%;
margin: 0;
display: inline-block;
}
.smallPostText {
	position: relative;
font-size: .6em;
/*left: 35px;*/
}
.iconwrap {
	display: table-cell;
height: 100%;
width: 31px;
position: relative;
padding: 0 11px;
}